{% extends "base.html" %}


{% block content %}
    <link rel="stylesheet" href="../../static/mainsite/css/howitworks.css">
    <!-- About Us section -->
    <section class="aboutus-section">
        <div class="headerTitle">
            <h1 id="title">How It Works</h1>
        </div>
        <div class="headerText">
            <h2>RM© Attendance System specialises in artificial intelligence and machine learning software to help provide a software solution for attendance.</h2>
        </div>
        <div class="wrapper-how">
            <div class="sub-container">
                <div class="services-container">
                    <div class="service">
                        <h5>Face Detection</h5>
                    </div>
                    <img src="../../static/mainsite/images/facial-recognition.png" alt="face detection icon">
                    <div class="about-service">
                        <p>Our software will detect human-faces by using advanced artifical technology, this is the first step in the facial recognition process.</p>
                    </div>
                </div>
                <div class="services-container">
                    <div class="service">
                        <h5>Face Recognition</h5>
                    </div>
                    <img src="../../static/mainsite/images/facial-recognition-2.png" alt="face detection icon">
                    <div class="about-service">
                        <p>The system will recognise a human face and associate it to an employee, this is a quick and easy process to mark attendance for the workplace.</p>
                    </div>
            </div>
                <div class="services-container">
                    <div class="service">
                        <h5>User Friendly</h5>
                    </div>
                    <img src="../../static/mainsite/images/friends.png" alt="face detection icon">
                <div class="about-service">
                    <p>The system is easy to use, which allows users to have a pleasurable experience using the attendance system.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
